<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.course_work">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.TicketActivities.TimeActivity"></activity>
        <activity android:name=".ui.TicketActivities.DateActivity" />
        <activity
            android:name=".ui.Doctors.DietActivity"
            android:label="@string/title_activity_diet"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.course_work.MainActivity" />
        </activity>
        <activity
            android:name=".ui.Doctors.NeuroActivity"
            android:label="@string/title_activity_neuro"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.course_work.MainActivity" />
        </activity>
        <activity
            android:name=".ui.Doctors.DentistActivity"
            android:label="@string/title_activity_dentist"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.course_work.MainActivity" />
        </activity>
        <activity
            android:name=".ui.Doctors.PsychoActivity"
            android:label="@string/title_activity_psycho"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.course_work.MainActivity" />
        </activity>
        <activity
            android:name=".ui.Doctors.OnkologistActivity"
            android:label="@string/title_activity_onkologist"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.course_work.MainActivity" />
        </activity>
        <activity
            android:name=".ui.Doctors.OculusActivity"
            android:label="@string/title_activity_oculus"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.course_work.MainActivity" />
        </activity>
        <activity
            android:name=".ui.Doctors.CardioActivity"
            android:label="@string/title_activity_cardio"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.course_work.MainActivity" />
        </activity>
        <activity
            android:name=".ui.Doctors.LORActivity"
            android:label="@string/title_activity_lor"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ui.Allotment.ThirdActivity" />
        <activity android:name=".ui.Allotment.SecondActivity" />
        <activity android:name=".ui.Allotment.FirstActivity" />
        <activity
            android:name=".ui.Doctors.CommonActivity"
            android:label="@string/title_activity_common"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.course_work.MainActivity" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>